@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  /* Background colors */
  --color-primary-bg: var(--bg-primary);
  --color-secondary-bg: var(--bg-secondary);

  /* Text colors */
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-tertiary: var(--text-tertiary);
  --color-quaternary: var(--text-quaternary);

  /* button colors */
  --color-button: var(--button);

  /* Accent colors */
  --color-accent-primary: var(--accent-primary);
  --color-accent-secondary: var(--accent-secondary);

  /* Gradient colors */
  --color-gradient-start: var(--gradient-start);
  --color-gradient-end: var(--gradient-end);
}

/* Theme variables */
:root {
    /* Background colors */
    --bg-primary: #ffffff;           /* main page background, sections */
    --bg-secondary: #f3f4f6;         /* secondary page background, sections */
    
    /* Text colors */
    --text-primary: #E1E7EF;         /* main text */
    --text-secondary: #6B7280;       /* secondary text */
    --text-tertiary: #374151;        /* tertiary text */
    --text-quaternary: #111827;      /* quaternary text */

    /* Button colors */
    --button: #bad0f5;               /* button */

    /* Accent colors */
    --accent-primary: #65799c;       /* primary accent */
    --accent-secondary: #bad0f5;     /* secondary accent */

    /* Gradient colors */
    --gradient-start: #bad0f5;       /* gradient start */
    --gradient-end: #a2a8b1;         /* gradient end */
}

.dark {
    /* Background colors */
    --bg-primary: #0B111D;           /* dark main page background, sections */
    --bg-secondary: #030711;         /* dark secondary page background, sections */

    /* Text colors */
    --text-primary: #E1E7EF;         /* dark main text */
    --text-secondary: #9CA3AF;       /* dark secondary text */
    --text-tertiary: #7D8390;        /* dark tertiary text */
    --text-quaternary: #0A0E23;      /* dark quaternary text */

    /* Button colors */
    --button: #030711;               /* dark mode button */

    /* Accent colors */
    --accent-primary: #1F2937;       /* dark mode primary accent */
    --accent-secondary: #3C83F6;     /* dark mode secondary accent */

    /* Gradient colors */
    --gradient-start: #3D82F5;       /* dark mode gradient start */
    --gradient-end: #8e51ff;         /* dark mode gradient end */
}